<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body style="color: brown;" aria-colcount="anonymous">
    <img src="../public/image/lab.jpg">
    <h1 style="color: rgb(1, 34, 34);">
        Bienvenidos al laboratorio patito
        <br>
    </h1>
    <A HREF="http://localhost:5000/login"> Comenzar actividades </A>
</body>
</html>