<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Registro</title>
  </head>
  <body >
    <div class="container">
        
      <h1 >Registro</h1>
      <form id="registro-px">
<!-- clase mb de bootstrap para dar saltos de linea -->
<div class="mb-3">
  <div class="mb-3">
    <label for="CUI" class="form-label">Ingrese CUI del Px </label>
    <input type="number" class="form-control" placeholder="Ingrese CUI" id="CUI"/>
  </div>

  <div class="mb-3">
    <label for="nombre" class="form-label">Ingrese Nombre del Px</label>
    <input type="text" class="form-control" placeholder="Ingrese Nombre " id="nombre"/>
  </div>

  <div class="mb-3">
    <label for="apellido" class="form-label">Ingrese Apellido del Px</label>
    <input type="text" class="form-control" placeholder="Ingresa Apellido" id="apellido"/>
  </div>

  <div class="mb-3">
    <label for= 'edad' class="form-label">Ingrese Edad del Px</label>
    <input type="number" class="form-control" placeholder="Ingrese Edad" id="edad">
  </div>

  <div class="mb-3">
    <label for="fechaNacimiento" class="form-label">Ingrese Fecha nacimiento Px</label>
    <input type="date" class="form-control" placeholder="Fecha de nacimiento" id="fechaNacimiento"/>
  </div>

  <div class="mb-3">
    <label for="direccion" class="form-label">Dirección del Px</label>
    <input type="text" class="form-control" placeholder="Dirección" id="direccion"/>
  </div>


  <!--
  <div class="mb3">
  <label for="correoElectronico" class="form-label">Ingrese Correo Electronico</label>
  <input type="email" class="form-control" placeholder="Ingresa tu correo " id="correoElectronico" aria-describedby="emailHelp"/>
  <div id="emailHelp" class="form-text"> No compartiremos tu dirección con nadie </div>

  <div class="row g-3 align-items-center"> 
  <div class="col-auto">
      <label for="contrasenia" class="col-form-label">Contraseña</label>
    </div>
    <div class="col-auto">
      <input type="password" id="contrasenia" class="form-control" aria-describedby="mensajeContrasenia">
    </div>
    <div class="col-auto">
      <span id="mensajeContrasenia" class="form-text"> Ulitiza entre 6 y 8 caracteres. </span>
    </div>
  </div>

    <div class="row g-3 align-items-center">
    <div class="col-auto">
        
      <label for="confirmarContrasenia" class="col-form-label">Contraseña</label>
    </div>
    <div class="col-auto">
      <input type="password" id="contraseniaConfirmar" class="form-control" aria-describedby="passwordHelpInline">
    </div>
    <div class="col-auto">
      <span id="confirmarContrasenia" class="form-text">
        Debes confirmar tu contraseña
      </span>
    </div>
  </div>

      <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
  </div>

</div>-->
      </form>


      <button type="button" class="btn btn-success mb-3" onclick="registrar()">Registrar Paciente</button>
      <div id="mensaje"></div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="/js/ingresar-px.js"></script>
  </body>
</html>